.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: $letter-spacing-one;
    margin: 24px 0 25px 215px;

    &--decor {
    color: $font-color-logo;
}
}