/*Styling "nasz zespół*/
.container{
    &--our-team {
        flex-direction: column;
        background-color: $background-color-two;
    }
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: $letter-spacing-one;
    color: $font-color-headers;
    padding-bottom: 50px;
    text-align: center;
}
.our-team {
    display: flex;
    justify-content: center;

    &__item {
        max-width: 270px;
        background: $background-color-body;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;

        &:nth-child(-n + 3) {
            margin-right: 30px;
        }
    }
    &__member-name {
        font-weight: 500;
        font-size: 16px;
        color: $font-color-headers;
        line-height: 1.1875;
        letter-spacing: $letter-spacing-one;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__member-position {
        font-size: 16px;
        color: $font-color-text;
        line-height: 1.1875;
        letter-spacing: $letter-spacing-one;
    }
    &__picture {
        max-width: 270px;
    }
}
